@import url('https://fonts.googleapis.com/css2?family=Piazzolla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&family=Manufacturing+Consent&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  min-height: 100%;
}

body {
  display: flex;
  padding: 100px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  background-color: #282a56;
}

.container {
  display: flex;
  justify-content: center;
  gap: 90px;
  flex-wrap: wrap;
}

.word {
  max-width: max-content;
  display: flex;
  gap: 20px;
}

.word > span {
  position: relative;
  padding: 20px 30px;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90px;
  max-height: 90px;
  border: 6px solid grey;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.8s ease-in-out;
}

/* Sample CSS for the WHY word */

.whyWLetter,
.gardeningALetter,
.improveILetter {
  font-size: 72px;
  font-weight: bold;
  color: aqua;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: 'Piazolla', sans-serif;
}

.whyHLetter,
.becauseBLetter,
.improveRLetter  {
  font-size: 30px;
  font-weight: bold;
  color: darkgoldenrod;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: 'Ceviche One', sans-serif;
}

.whyYLetter,
.skillsLLetter,
.becauseCLetter,
.theyTLetter,
.skillsLTwoLetter {
  font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway Dots', sans-serif;
}

/* DID word */

.didDLetter,
.frontendFLetter,
.developerVLetter,
.improveOLetter,
.theirHLetter,
.rootRLetter  {
  font-family: "Manufacturing Consent", system-ui;
  font-weight: 400;
  font-style: normal;
  text-decoration: underline;
}

.didILetter,
.rootOLetter,
.becauseSLetter,
.developerPLetter,
.wantedWLetter {
  font-family: "Roboto Condensed", sans-serif;
  color:chocolate
}

.didDTwoLetter,
.frontendRLetter,
.frontendNTwoLetter,
.theirTLetter,
.skillsSTwoLetter   {
  font-family: "Bitcount Grid Double", system-ui;
  font-weight: bold;
  text-transform: uppercase;
  color: #dc143c;
}

/* THE word */

.theTLetter, 
.upPLetter,
.takeTLetter,
.improveMLetter {
  font-family: "Roboto Condensed", sans-serif;
  font-size: x-small;
  color: #dc143c;
  font-weight: 700;
}

.theHLetter,
.gardeningELetter,
.gardeningGLetter,
.theirELetter,
.skillsSLetter {
  font-size: medium;
  color: #006400;
}

.theELetter,
.developerDLetter,
.toTLetter,
.theirILetter   {
  font-size: large;
  color: aqua;
  font-weight: 300;
}

/* FRONT-END word */

.frontendOLetter,
.gardeningDLetter,
.developerLLetter,
.improvePLetter {
  text-decoration: line-through;
  color: #a52a2a;
}

.frontendNLetter,
.developerELetter,
.theyHLetter {
  text-decoration: overline;
  color: antiquewhite;
  font-size: 59px;
}
.frontendELetter,
.takeELetter,
.wantedDLetter,
.improveELetter {
  font-weight: normal;
  color: rgb(70, 130, 180);
}

/* DEVELOPER word */

.developerETwoLetter,
.developerOLetter,
.becauseALetter,
.theirRLetter  {
  text-decoration: overline;
  color: rgb(178, 34, 34);
}

.developerEThreeLetter,
.becauseULetter,
.gardeningGTwoLetter,
.rootOTwoLetter   {
  font-size: 60px;
  color: hsl(300, 100%, 27%);
}

/* TAKE word */

.takeKLetter,
.wantedNLetter,
.wantedALetter,
.skillsILetter  {
  font-weight: 700;
  color: rgb(123, 104, 238);
}

/* GARDENING word */

.gardeningRLetter,
.becauseETwoLetter,
.frontendTLetter  {
  font-weight: bold;
  text-transform: uppercase;
  color: #f8f8ff;
}

.gardeningNLetter,
.developerRLetter,
.wantedELetter,
.improveVLetter  {
  font-weight: 200;
  color: #ff69b4;
  text-decoration: none;
}

/* BECAUSE word */

.becauseELetter,
.takeALetter,
.frontendDLetter,
.upULetter,
.rootTLetter {
  color: rgba(83, 165, 152, 0.2);
  font-weight: 800;
}

/* THEY word */

.theyELetter,
.gardeningNTwoLetter,
.hyphen,
.skillsKLetter {
  color: #800080;
  font-weight: 900;
}
.theyYLetter,
.question-mark,
.toOLetter {
  color: hsl(160, 100%, 75%);
  font-size: x-large;
}

/* WANTED word */

.wantedTLetter,
.exclamation-mark,
.gardeningILetter {
  color: hwb(60 86% 4%);
  font-size: xx-large;
}

.bold {
  font-weight: bold;
}

.blood {
  font-family: "Manufacturing Consent", system-ui;
  color: #c80707;
  text-shadow: 5px 5px #dc143c;
  font-weight: 600;
}